
<div class="main-content">
  <div class="block-filter">
    <%= render 'page/block_filter' %>
  </div>
  <div class="block-introduce">
    <%= render 'page/block_introduce' %>
  </div>

  <div class="list-book">
    <%= render 'page/block_filter_book' %>
  </div>

  <div class="list-category">
    <%= render 'page/list_category' %>
  </div>

  <div class="our-team">
    <%= render 'page/our_team' %>
  </div>
</div>